.expenses{
    /* margin: 20px; */
    padding: 20px;
    background-color: bisque;
    border-radius: 20px;
    /* width: 55%; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    max-width: 95%;
}